body{
  font-family: 'Times New Roman', Times, serif;
  color: rosybrown;
}

.abstand{
  padding: 300px;
}


.beispiel-1 { /*grid-template-areas*/
  display: grid;
  /* display: inline grid; */
  grid-template-areas:
    'header header header header header header'
    'menu main main empty right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #D9C1BB;
  padding: 10px;
}

.beispiel-1 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1-1 { grid-area: header; }
.item2-1 { grid-area: menu; }
.item3-1 { grid-area: main; }
.item4-1 { grid-area: right; }
.item5-1 { grid-area: footer; }

/*------------------------*/

.beispiel-2 { /*grid-template-columns, grid-template-rows*/
  display: grid;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 30% 100px;
  background-color: #D9C1BB;
  padding: 10px;
}
.beispiel-2-item{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
}

/*------------------------*/

.beispiel-3 { /*column-gap, row-gap, gap*/
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
  /*gap: 10px 10px;*/
  background-color: #D9C1BB;
  padding: 10px;
}


.beispiel-3-item{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
}


/*------------------------*/

.beispiel-4 { /*align-content*/
  display: grid;
  grid-template-columns: 20px 20px 20px;
  align-content: start;
  gap: 10px 10px;
  background-color: #D9C1BB;
  padding: 10px;
}


.beispiel-4-item{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
}

/*------------------------*/

.beispiel-5 { /*justify-content*/
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  gap: 10px 10px;
  background-color: #D9C1BB;
  padding: 10px;
}


.beispiel-5-item{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
}


/*------------------------*/

.beispiel-6 { /*justify-items*/
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: end;
  gap: 10px 10px;
  background-color: #D9C1BB;
  padding: 10px;
}


.beispiel-6-item{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
}

/*------------------------*/

.beispiel-7 { /*align-items*/
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  align-items: end;
  gap: 10px 10px;
  background-color: #D9C1BB;
  padding: 10px;
}


.beispiel-7-item{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
}

/*------------------------*/

.beispiel-8 { /*grid-column, grid-row*/
  display: grid;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows:auto auto auto;
  background-color: #D9C1BB;
  padding: 10px;
}


.beispiel-8-item{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  grid-column: 1 3;
  grid-row: 2 3;
}


/*------------------------*/

.beispiel-9 { /*grid-area*/
  display: grid;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows:auto auto auto;
  background-color: #D9C1BB;
  padding: 10px;
}


.beispiel-9-item{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  grid-area: 1 3;
}


/*------------------------*/

.beispiel-10 { /*justify-self*/
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px 10px;
  background-color: #D9C1BB;
  padding: 10px;
}


.beispiel-10-item{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
}


#beispiel-10-item-1{
  justify-self: center;
}


/*------------------------*/

.beispiel-11 { /*align-self*/
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px 10px;
  background-color: #D9C1BB;
  padding: 10px;
}


.beispiel-11-item{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
}

#beispiel-11-item-1{
  align-self: center;
}
